#test1{background-color: #8A9C92}
#test2{border: 2px; text-align: center; border-collapse: separate;}
#test3{background-color: red}
#khung{background-color: red}
#imglayout{width: 300px; height: 300px;}
#bang{ overflow:auto; width: 80%; height:600px;  float:left}
thead{background-color: #4BA0B8}
#img_xetrongbai{ width: 100%; height: 350px;}
#edit_car{width: 120px; height: 30px;}
#edit_car1{width: 150px; height: 30px;}
#empty1{background-image: url(Layout/img/empty.png)}
#nut{margin-right: 3px}
#xeravao:visited {background-color: springgreen;}


table tr.active {background: #ccc;}

.myButton { 
	box-shadow: 0px 1px 0px -8px #1c1b18;
	border-radius:12px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
}

.myButton:active {
	position:relative;
	top:1px;
}


.myButton1 {
	box-shadow: 0px 1px 0px -8px #1c1b18;	
	border-radius:12px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	
	font-family:Arial;
	font-size:17px;
}

.myButton1:active {
	position:relative;
	top:1px;
}

#backgr{
    background-image: url(./Layout/img/truck.jpg);
    background-position:center;
    background-size:cover;
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
#logo1{width: 300px; height: 60px;}


.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
  background-color: white;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 640px; /* Max width where it stops expanding */
  height: 70%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
}
/* Close button */
.close {
 color: #aaaaaa;
 float: right; /* Positioned to the right of the parent container whichever size it is */
 font-size: 25px;
 font-weight: bold;
}
.close:hover, 
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}